<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections> 
  <connectionStrings>
    <add name="ContactLens.Properties.Settings.omateConnectionString"
      connectionString="Data Source=LOCALHOST; Initial Catalog=OMATESQL;Integrated Security=SSPI;" />
    <!--<add name="ContactLens.Properties.Settings.omateConnectionString"
        connectionString="Data Source=DMNSERVER\SQLEXPRESS; Initial Catalog=OMATESQL;User Id=omate;Password=omate;"
             />-->
  </connectionStrings>
</configuration>